apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ../../base/kube-prometheus-stack

patches:
  - path: values-patch.yaml
    target:
      kind: HelmRelease
      name: kube-prometheus-stack
