apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: linkding
spec:
  rules:
  - host: lds.kubeport.dev
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: linkding
            port:
              number: 9090
