apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.44.2
          envFrom:
            - secretRef:
                name: linkding-container-env
          ports:
            - containerPort: 9090
          volumeMounts:
            - mountPath: "/etc/linkding/data"
              name: linkding-data
          securityContext:
            allowPrivilegeEscalation: false
      securityContext:
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
